<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/loginCheck" method="post">
      <input type="text" name="email" value="">
      <input type="text" name="password" value="">
      <input type="submit" name="" value="submit >>">
    </form>
  </body>
</html>
